.fundo-site {
  background-color: #f8f9fa;
  color: #212529;
}
.cor-navbar {
  background: linear-gradient(45deg, #0057a3, #017bfe);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#a {
  color: white;
}
.fonte-navbar {
  font-family: 'Arial', sans-serif;
  font-size: 1.1em;
}
.fonte-texto {
  font-family: 'Arial', sans-serif;
  margin-top: 1rem;
}
.espacamento-topo {
  margin-top: 2rem;
}
.retangulo {
  background-color: #f1f3f5;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn-custom {
  background-color: #017BFE;
  color: #ffffff;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
}
.btn-custom:hover {
  background-color: #0167d0;
}
.text-center-custom {
  text-align: center;
}
.rounded-img {
  border-radius: 15px;
}
.navbar-brand-custom {
  font-size: 1.5rem;
  font-weight: bold;
}
footer {
  margin-top: 5px;
  background-color: #011c39;
  color: #ffffff;
  text-align: center;
}
